@tailwind base;
@tailwind components;
@tailwind utilities;

.Dropdown-root {
	width: 15%;
	right: 0;
}

.logoContainer {
	clip-path: polygon(0 0, 100% 0%, 79% 100%, 0% 100%);
}

.dropdown {
	position: absolute !important;
	right: 0.5rem;
	top: 15%;
}

.Dropdown-control {
	background-color: #90e040 !important;
	border-radius: 20px !important;
}

.dropdown-menu {
	background-color: #90e040 !important;
	border-radius: 20px !important;
}

@layer components {
	.form-input {
		@apply w-[98%] h-[3rem] rounded-2xl bg-[#f6f6f7] text-2xl font-bold text-[#242424] mx-auto text-left p-8 pl-4 mb-2 outline-none;
	}
}
